body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h1 {
	font-size: 40px;
	text-align: center;
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.welcomeMain {
    font-size: 30px;
    text-align: center;
}

.mainLogin {
    text-align:center;
}

.taskTitle {
    color: red;
}

.underlinedThings {
    text-decoration: underline;
}

.newTaskLabel {
    font-size: 16px;
    text-decoration: bold;
}

.uniformSize {
    display: inline-block;
    width: 140px;
    text-align: right;
}