{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
    <H2>Navigation</H2>
    <UL>
        <LI><A href="/">Welcome page</A></LI>
        <LI><A href="/home_page">Home page</A></LI>
        <li><a href="/logout">Log out</a></li>
    </UL>
</DIV>
<br/>
<br/>
<DIV id="content">
    <H2>Accept new tasks</H2>
    {% for task in tasks %}
    <H4 class="taskTitle">{{task.title}}</H4>
    <DIV>Posted by : {{task.publisher}}</DIV>
    <DIV>Posted on : {{task.post_date}}</DIV>
    <DIV>    {{task.description}}</DIV>
</DIV>
<FORM method="post" action="accept?title={{task.title2url()}}">
    <INPUT type="submit" value="Accept"/>
</FORM>
<HR/>
{% endfor %}
</DIV>
{% endblock %}