{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
    <H2>Navigation</H2>
    <UL>
        <LI><A href="/">Home page</A></LI>
        <li><a href="/logout">Log out</a></li>
    </UL>
</DIV>
<br/>
    <br/>
<DIV id="content">
    <H2>Task assessment</H2>
    <FORM method="post" action="/assess?title={{title}}">
        <LABEL>Job's quality</LABEL>
        <LABEL>Good<INPUT type="radio" name="quality" value="Good"/></LABEL>
        <LABEL>Medium<INPUT type="radio" name="quality" value="Medium"/></LABEL>
        <LABEL>Bad<INPUT type="radio" name="quality" value="Bad"/></LABEL>


        <LABEL>Please type a short comment for the executer of the task.
            <TEXTAREA name="assessment">
            </TEXTAREA>
        </LABEL>

        <INPUT type="submit" value="Validate"/>
    </FORM>
</DIV>
{% endblock %}