<!DOCTYPE html>
<HTML>
	<HEAD>
		<link type="text/css" rel="stylesheet" href="webapp/static/styleSite.css" />
		<TITLE>Web Tasks</TITLE>
	</HEAD>
	<BODY>
		{% block content %}
		{% endblock %}
	</BODY>
</HTML>