{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
    <H2>Navigation</H2>
    <UL>
        <LI><A href="/">Home page</A></LI>
        <li><a href="/logout">Log out</a></li>
    </UL>
</DIV>
<br/>
    <br/>
<DIV id="content">
    <H2>API documentation</H2>
    <P>
        The following table provides you the list of all urls available on our API. More details about the urls are provided in the following sections.
    </P>
    <TABLE>
        <TR><TH>URL</TH><TH>HTTP method</TH></TR>
        <TR><TD><A href="#url1">/api/task_list</A></TD><TD>get</TD></TR>
        <TR><TD><A href="#url2">/api/task_details</A></TD><TD>get</TD></TR>
        <TR><TD><A href="#url3">/api/sign_in</A></TD><TD>post</TD></TR>
        <TR><TD><A href="#url4">/api/publish_task</A></TD><TD>post</TD></TR>
    </TABLE>
    <H3 id="url1">/api/task_list</H3>

    <P>
        By requesting this URL, you access the list of all tasks that were published on our web site but haven’t yet been accepted by any user. The list is a JSON string that contains the title of each task.
    </P>

    <H3 id="url2">/api/task_details</H3>

    <P>
        By requesting this url, you access the details about a specific task. You must specify the title of the task in the query part of your url with the key title. You will get a JSON string that contains the information about the task that you asked.
    </P>

    <H3 id="url3">/api/sign_in</H3>

    <P>
        By requesting this url you can get authentified by our service. Your request must specify your login and password by the keys login and pswd. The response will be a JSON string that contains the key status : ok if you are successfully authentified, else error. If the status is ok, you can find your user’s cookie in the cookies of the response. It has the key user.
    </P>

    <H3 id="url4">/api/publish_task</H3>

    <P>
        By requesting this url you can publish a new task. You must add your user’s cookie in your request to access to this feature. The data part of your request must also specify the title and the description of your task by the keys title and description. If your task was successfully published, you will get a JSON string that contains the status ok ; else, it will contains the status error.
    </P>
</DIV>
{% endblock %}