{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
    <H2>Navigation</H2>
    <UL>
        <LI><A href="/new_task">Publish a new task</A></LI>
        <LI><A href="/accept_task">Accept tasks</A></LI>
        <LI><A href="/view_results?user={{u.login}}">View results</A></LI>
        <LI><A href="/user_info">User info</A></LI>
        <li><a href="/logout">Log out</a></li>
    </UL>
</DIV>
<br/>
    <br/>
<DIV id="content">
    <H2>{{u.login}}'s home page</H2>
    <H3>Your tasks</H3>
    {% for task in user_tasks %}
    <H4 class="taskTitle">{{task.title}}</H4>
    <DIV>Posted on : {{task.post_date}}</DIV>
    <DIV>Status : {{task.getStatus()}}</DIV>
    {%if task.status=='F'%}
    <A href="/assess?title={{task.title2url()}}"/>Assess</A>
    {%else%}
    <FORM method="post" action="/cancel?title={{task.title2url()}}">
        <INPUT type="submit" value="Cancel"/>
    </FORM>
    {%endif%}
    <HR/>
    {% endfor %}
    <H3>Your accepted tasks</H3>
    {% for task in accepted_tasks %}
    <H4 class="taskTitle">{{task.title}}</H4>
    <DIV>{{task.description}}</DIV>
    <FORM method="post" action="/finish?title={{task.title2url()}}">
        <INPUT type="submit" value="Finish"/>
    </FORM>
    <FORM method="post" action="/give_up?title={{task.title2url()}}">
        <INPUT type="submit" value="Give up"/>
    </FORM>
    <HR/>
    {% endfor %}
</DIV>
{% endblock %}