{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
    <H2>Navigation</H2>
    <UL>
        <LI><A href="/">Welcome page</A></LI>
        <li><a href="/logout">Log out</a></li>
    </UL>
</DIV>
<br/>
    <br/>
<DIV id="content">
    <H2>Publish a new task</H2>
    <FORM method="post" action="new_task">
        <LABEL class="newTaskLabel">Title :
            <br/>
            <INPUT type="text" name="title"/>
        </LABEL>
        <br/>
        <br/>
        <LABEL class="newTaskLabel">Please provide a short description of which work you want :<BR/>
            <TEXTAREA name="description" style="height:200px; width:600px"></TEXTAREA>
        </LABEL>
        <br/>
        <LABEL class="newTaskLabel">Add your contact : <INPUT type="checkbox" name="contact"/></LABEL>
        <br/>
        <br/>
        <INPUT type="submit" value="Publish"/>
    </FORM>
</DIV>
{% endblock %}