{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
    <H2>Navigation</H2>
    <UL>
        {%if login%}
        <LI><A href="/home_page">Home page</A></LI>
        <li><a href="/logout">Log out</a></li>
        {%else%}
        <LI><A href="/">Welcome page</A></LI>
        <LI><A href="/top_ten">Back to top ten workers</A></LI>
        {%endif%}
    </UL>
</DIV>
<br/>
    <br/>
<DIV id="content">
    <H2 class="underlinedThings">Results of {{u.login}}</H2>
    <DIV>Score : {{u.score}}</DIV>
    <DIV>{{tasks_number}} finished tasks</DIV>
    <H3>List of finished tasks</H3>
    {% for task in finished_tasks %}
    <H4 class="taskTitle">{{task.title}}</H4>
    <DIV>Posted on : {{task.post_date}}</DIV>
    <DIV>Posted by : {{task.publisher}}</DIV>
    <H5 class="taskTitle">Description</H5>
    <DIV>{{task.description}}</DIV>
    <H5 class="taskTitle">Assessment</H5>
    {%if task.assessment%}
    <DIV>{{task.assessment}}</DIV>
    <DIV>Job quality : {{task.quality}}</DIV>
    {%else%}
    <DIV>Not assessed yet.</DIV>
    {%endif%}
    <HR/>
    {% endfor %}
</DIV>
{% endblock %}