{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
	<H2>Navigation</H2>
	<UL>
		<LI><A href="/">Home page</A></LI>
		<li><a href="/logout">Log out</a></li>
	</UL>
</DIV>
<br/>
	<br/>
<DIV id="content">
	<h2>Sign up</h2>
	<form method="post" action="sign_up">
		<label class="uniformSize">Login : </label><input type="text" name="username" value="" required/>
		<br/>
		<label class="uniformSize">Password : </label><input type="password" name="pswd1" value="" required/> 
		<br/>
		<label class="uniformSize">Password (verification) : </label><input type="password" name="pswd2" value="" required/> 
		<br/>
		<input type="submit" value="Create" name="createAccount" />
	</form>
</DIV>
{% endblock %}