{% extends "base.html" %}

{% block content %}
	<header>
		<h1>Create new task</h1>
	</header>
	<br/>
	<br/>
	<div>Title
		<br/>
		<input type="text" name="tasktitle" value=""/>
	</div>
	<br/>
	<div>Description 
		<br/>
		<input type="textarea" style="width: 450px; height:200px;" name="taskdescript" value=""/>
	</div>
	<br/>
	<input type="submit"  name="createTask" value="Create" />
{% endblock %}