{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
    <H2>Navigation</H2>
    <UL>
        <LI><A href="/">Home page</A></LI>
        <li><a href="/logout">Log out</a></li>
    </UL>
</DIV>
<br/>
    <br/>
<DIV id="content">
    <H2>Top ten of best workers</H2>
    {%for u in top_ten%}
    <H3 class="taskTitle">{{u.login}}</H3>
    <DIV>Score : {{u.score}}</DIV>
    <A href="/view_results?user={{u.login}}">View {{u.login}}'s results</A>
    <HR/>
    {%endfor%}
</DIV>
{% endblock %}