{% extends "base.html" %}

{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
    <H2>Navigation</H2>
    <UL>
        <LI><A href="/">Home page</A></LI>
        <li><a href="/logout">Log out</a></li>
    </UL>
</DIV>
<br/>
    <br/>
<DIV id="content">
    <H2 class="underlinedThings">User information</H2>
    <FORM method="post" action="/user_info">
        <LABEL class="uniformSize">Password : </LABEL><INPUT type="password" name="password" value="{{u.password}}"/>
        <br/>
        <LABEL class="uniformSize">Email : </LABEL><INPUT type="text" name="email" value="{%if u.email!=None%}{{u.email}}{%endif%}"/>
        <br/>
        <LABEL class="uniformSize">Phone number : </LABEL><INPUT type="text" name="phone_number" value="{%if u.phone_number!=None%}{{u.phone_number}}{%endif%}"/>
        <br/>
        <LABEL class="uniformSize">Cell phone number : </LABEL><INPUT type="text" name="cell_phone" value="{%if u.cell_phone_number!=None%}{{u.cell_phone_number}}{%endif%}"/>
        <br/>
        <INPUT type="submit" value="Update"/>
    </FORM>
</DIV>
{% endblock %}