{% extends "base.html" %}
{% block content %}
<H1>Web Tasks</H1>
<DIV id="nav">
	<H2>Navigation</H2>
	<UL>
		<LI><A href="/sign_up">Sign up</A></LI>
		<LI><A href="/top_ten">View top ten workers</A></LI>
		<LI><A href="/documentation">API documentation</A></LI>
	</UL>
	<br/>
	<br/>
	<H3>Already in ?</H3>
	<form method="post" class="mainLogin">
		<LABEL>Login : <INPUT type="text" name="login" value=""/></LABEL>
		<LABEL>Password : <INPUT type="password" name="pswd" value=""/></LABEL>
		<input type="submit"/>
	</form>
</DIV>
<DIV id="content">
	<H2 class="welcomeMain">Welcome on Web Tasks !!!</H2>
	{% for task in tasks %}
	<H4>{{task.title}}</H4>
	<DIV>Posted on : {{task.post_date}}</DIV>
	<DIV>Posted by : {{task.publisher}}</DIV>
	<DIV>{{task.description}}</DIV>
	<HR/>
	{% endfor %}
</DIV>
{% endblock %}